.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: $primary;
    color: $white;
}

.copyright {
    color: $gray-light;
    text-align: center;
    background-color: $primary;
    margin-bottom: 1rem;
}
