// Styling for the navbar
#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    background: transparentize($primary, 0.1);
    color: $white;
    .navbar-brand {
        color: $white;
    }
    .navbar-nav {
        margin-top: 1rem;
        li.nav-item {
            a.nav-link {
                color: $white;
                &:hover {
                    color: $info;
                }
                &:active,
                &:focus {
                    color:darken($info, 30%);
                }
                &.active {
                    color: darken($white, 20%);
                }
            }
        }
    }
    .navbar-toggler {
        font-size: 80%;
        padding: 0.8rem; 
        color: $white;       
    }
}
@include media-breakpoint-up(lg) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background: transparentize($primary, 0.15);
        transition: padding-top 0.3s, padding-bottom 0.3s;
        
        .navbar-brand {
            font-size: 1.75em;
            transition: font-size 0.3s;
        }
        .navbar-nav {
            margin-top: 0;
        }
        .navbar-nav > li.nav-item > a.nav-link.active {
            color: $white;            
            &:hover {
                color: $info;
            }
            &:active,
            &:focus {
                color:darken($info, 30%);
            }
            &.active {
                color: darken($white, 20%);
            }
        }
    }
    #mainNav.navbar-shrink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        .navbar-brand {
            font-size: 1.5em;
        }
    }
}
