// Styling for the skills grid section

.skills {     
    margin-top: -10rem !important;
    background: $gray-light;    
    .skills-item {  
        padding: 1rem;
        background: $white;
        border: 4px solid $gray-light;             
        .skills-icon,h3 {
            color: $secondary ;
            font-size: 3rem;
            margin-bottom: 1.75rem;
        }
        h3 {            
            font-size: 1.75rem;
        }
    }
}  
@include media-breakpoint-up(md) {
    .skills {    
        background: none;                           
        .page-section-heading, .divider-custom  {
            margin: 0;
            visibility: hidden;
        }
        .d-md-flex {
            margin-top: -4rem !important;
        }
        .skills-item {            
            margin: 0.3rem;
            border-radius: $border-radius;
            border: 1px solid $white; 
        }
    }
}
